.header-box {
	flex-grow: 0;
	flex-shrink: 0;
	height: 72px;
	width: 100%;
}
.header-container {
	background-color: #fff;
	height: 72px;
	left: 0;
	min-width: 628px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
}
.header-box .header-container #header {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
	position: relative;
	background-color: transparent;
}
.header-box .header-container #header .header-logo {
	background: linear-gradient(180deg, #f1f2f5 80%, #f1f2f500);
	flex-basis: 172px;
	height: 165%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-box .header-container #header .header-logo .logo {
	background-image: url("https://movie-1255768847.cos.accelerate.myqcloud.com/index-logo.png");
	display: block;
	height: 36px;
	width: 120px;
	text-indent: -999em;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.header-container #header::after {
	display: none;
}
.header-container .nav-menu-item-name {
	color: initial;
	font-weight: 400;
}
.header-menu .nav-menu-item-name {
	display: flex;
	align-items: center;
}
.header-menu .nav-menu-item-name svg {
	height: 20px;
	width: 20px;
	margin-right: 5px;
}
.header-warp {
	align-items: center;
	border-bottom: 1px solid #f1f2f5;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	height: 100%;
	justify-content: space-between;
	padding: 0 32px 0 22px;
}
.header-search {
	width: 37.5%;
	padding: 0 8px;
}
.header-search > div {	
	align-items: center;
	background-color: #f1f2f5;
	border-radius: 4px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	height: 40px;
	position: relative;
	width: 100%;
}
.header-search > div > svg {
	margin: 0 9px;
}
.header-search > div .form-control {
	display: flex;
	flex: 1 1 0%;
}
.header-search > div .form-control::placeholder {
	color: rgba(47,48,53,.4);
}
.header-search > div > button {
	align-items: center;
	background-color: #f1f2f5;
	border: none;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	cursor: pointer;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 64px;
	color: #3f3f44;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}
.header-search > div > button:hover {
	color: #ff2b14;
}
.header-menu {
	width: auto;
}


/* .play .header-box .header-container {
	background-color: #010101;
}

.play .header-box .header-container #header .header-logo .logo {
	background-image: url("https://movie-1255768847.cos.accelerate.myqcloud.com/index-logo-white.png");
}
.play .header-container .nav-menu-item-name {
	color: #dfdfe0;
}
.play .nav-menu-item:hover .nav-menu-item-name,
.play .nav-menu-item.selected .nav-menu-item-name {
	color: #fe2d55;
}
.play .header-search > div,
.play .header-search > div > button {
	background-color: #202020;
} */
.play .header-box .header-container #header .header-logo,
.view .header-box .header-container #header .header-logo {
	background: transparent;
}
.play .header-box .header-container,
.view .header-box .header-container {	
	border-bottom: 1px solid #f1f2f5;
}
.play .header-box .header-container .header-warp,
.view .header-box .header-container .header-warp {
	border-bottom: 0 none;
}
.view .wrapper {
	padding-top: 3rem;
}

.page-warp {
	display: flex;
	flex-direction: row-reverse;
}
.page-sidebar {
	flex-basis: 172px;
	background-color: #f1f2f5;
	flex-shrink: 0;
	position: relative;
}
.page-content {
	display: flex;
	margin: 24px 22px 0;
	width: 100%;
}
.page-sidebar-scroll {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 172px;
	background-color: #f1f2f5;
	height: calc(100vh - 72px);
	outline: none;
	position: fixed;
	z-index: 1;
}
.page-sidebar-body {
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	height: 100%;
}
.page-sidebar-menu {
	width: 172px;
	display: flex;
	flex-shrink: 0;
	margin-bottom: 143px;
	user-select: none;
}
.page-sidebar-items {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.page-sidebar-items .space-line-bold {
	border-bottom: 1px solid #e2e2e7;
	height: 9px;
	margin: 12px 30px 0;
	background: transparent;
	width: auto;
	float: none;
	border-radius: 0;
}
.page-sidebar-item {
	align-items: flex-end;
	flex-direction: row;
	color: #2f3035;
	cursor: pointer;
	display: flex;
	margin: 12px 48px 0 25px;
	justify-content: flex-start;
}
.page-sidebar-item.drop {
	
}
.page-sidebar-item > a {
	opacity: .5;
	display: flex;
	flex-direction: row;
	position: relative;
}
.page-sidebar-item.selected a,
.page-sidebar-item > a:hover {
	color: #2f3035;
	opacity: 1;
}
.page-sidebar-item .page-sidebar-item-icon {
	height: 36px;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-sidebar-item .page-sidebar-item-icon i {
	font-size: 16px;
}
.page-sidebar-item .page-sidebar-item-name {
	line-height: 1;
	font-size: 16px;
	line-height: 36px;
	margin-top: -4px;
	max-width: 70px;
	transform: scale(1);
	align-self: flex-start;
	margin-top: 0;
	position: relative;
}
.page-sidebar-foot {
	background: linear-gradient(0deg,#f1f2f5 90%,#f1f2f5 95%,#f1f2f500);
	bottom: -110px;
	display: block;
	font-weight: 400;
	position: absolute;
	width: 100%;
	z-index: 1;
	height: 200px;
}
.footer-container {
	display: flex;
	flex-direction: column;
	padding: 60px 18px 10px;
	position: relative;
}
.footer-copyright {
	border-bottom: 1px solid #e2e2e7;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	padding-bottom: 10px;
	color: rgba(47,48,53,.7);
	opacity: .5;
}
.footer-sitemap {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	white-space: nowrap;
}
.footer-sitemap a {
	color: rgba(47,48,53,.7);
	margin-bottom: 8px;
	position: relative;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
}
.footer-sitemap a:nth-of-type(odd) {
	margin-right: 12px;
}
.module-item-cover:hover .module-item-pic a i,
.module-item-caption,
.module-item-cover:hover .module-item-content {
	display: none;
}
.player-content {
	display: flex;
	padding-top: 2rem;
}
.player-block {
	flex: 1;
	width: 100%;
}
.player-sidebar {
	margin-left: 2rem;
	width: 360px;
}
.player-sidebar .player-side-playlist {
	height: auto;
}
.player-sidebar .player-side-playlist .module-blocklist a {
	width: calc(25% - 8px);
}
.player-sidebar .module {
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #EEE;
}
.player-sidebar .module-list .module-item {
	display: flex;
	width: 100%;
	margin-right: 0;
}
.player-sidebar .module-list .module-item .module-item-cover {
	width: 90px;
	height: 120px;
	padding: 0;
}
.player-sidebar .module-list .module-item .module-item-info {
	margin-left: 1.5rem;
	flex: 1;
}
.player-sidebar .module-list .module-item .module-item-info .module-item-titlebox {
	margin-top: 0;
}
.common-title {
	color: rgba(47,48,53,.4);
	font-family: PingFang SC,DFPKingGothicGB-Regular,sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
}
.common-title-text {
	background-color: #fff;
	display: inline-block;
	padding-right: 8px;
	position: relative;
	z-index: 2;
}
.common-title-line {
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
}
.common-title-line2 {
	background-color: #f1f2f5;
	display: block;
	height: 1px;
	min-height: 1px;
	position: relative;
	width: 100%;
}
.mac_comment .comment_content {
	background-color: #f1f2f5;
	border: 1px solid #f1f2f5;
	border-radius: 4px;
	width: 100%;
	padding: 10px;
	height: 44px;
}
.mac_comment .input_wrap {
	position: relative;
	margin-top: 15px;
}
.mac_comment .input_wrap .comment-tools {
	position: absolute;
	right: 10px;
	top: 4px;
	display: flex;
	height: 36px;
}
.mac_comment .input_wrap .comment-tools svg {
	opacity: 44%;
}
.mac_comment .input_wrap .comment-tools svg:hover {
	opacity: 1;
}
.comment_face_box {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 24px rgb(0 0 0 / 10%);
	display: flex;
	flex-direction: column;
	outline: none;
	overflow: hidden;
	width: 414px;
	z-index: 1;
	position: absolute;
	top: 48px;
	right: 0;
}
.comment_face_box_item {
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 10px 0 10px 8px;
	user-select: none;
}
.comment_face_panel {
	cursor: pointer;
}
.comment_face_box_item img {
	cursor: pointer;
	padding: 10px;
}
.cmt_item {
	display: flex;
	display: flex;
	margin-top: 16px;
	position: relative;
}
.cmt_item .face_wrap {
	cursor: pointer;
	margin-right: 12px;
}
.cmt_item .face_wrap .face {
	max-width: 40px;
}
.cmt_item .item_con {
	flex-grow: 1;
	width: 0;
}
.cmt_item .item_con .item_con_top {
	align-items: center;
	display: flex;
	margin-bottom: 4px;
}
.cmt_item .item_con .item_con_top .name {
	margin-right: 5px;
}
.cmt_item .item_con .item_con_top span {
	color: rgba(47,48,53,.4);
	font-size: 12px;
}
.gw-action {
	margin-top: 15px;
	display: flex;
	align-items: center;
}
.gw-action > * {
	display: flex;
	align-items: center;
	margin-right: 5px;
	font-size: 12px;
	font-weight: 500;
	color: rgba(47,48,53,.7);
}
.gw-action > * > svg path {
	fill: #adadaf;
}

.gw-action > a:hover > svg path {
	fill: #fe2d55;
}
.comment-line {
	margin-top: 12px;
}
.comment-lines {
	background-color: #f1f2f5;
	display: block;
	height: 1px;
	min-height: 1px;
	position: relative;
	width: 100%;
}